/* Server hub */

.hub {
    padding-top: 50px;
    padding-bottom: 50px;
}

#game-instances-table {
    position: relative;
    display: block;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #495057;
}

tr {
    color: #495057;
    background-color: #e9ecef;
    cursor: pointer;
}

tr:hover {
    color: white;
    background-color: #c96530;
}

.hub-button {
    white-space: normal;
    font-size: 16px;
    color: white;
    background: none;
}

.hub-button:hover {
    color: white;
    background-color: #362c6b;
}
