/* Server hub */

.hub {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hub #game-instances-table {
    position: relative;
    display: block;
}

.hub .table-bordered th,.hub .table-bordered td {
    border: 1px solid #495057;
}

.hub tr {
    color: #495057;
    background-color: #e9ecef;
    cursor: pointer;
}

.hub tr:hover {
    color: white;
    background-color: #c96530;
}

.hub .hub-button {
    white-space: normal;
    font-size: 16px;
    color: white;
    background: none;
}

.hub .hub-button:hover {
    color: white;
    background-color: #362c6b;
}

hr {
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 1.0)
}
