.hub {
    margin: 20px auto;
    width: 25%;
    height: 25%;
    bottom: 40px;

    text-align: center;
    color: lightgray;
}

tr td {
    cursor: pointer;
}

tr:hover {
    background-color: #894612;
}
